.catalog {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.catalog__filter {
    width: 300px;
    border-radius: 10px;
    border: 1px solid #11111130;
    height: fit-content;

    padding: 20px 24px;
}

.seeds {
    margin: 70px 0px 35px 0px;
    color: #000;
    opacity: .6;
    font-size: 16px;

    display: flex;
    gap: 12px;
    align-items: center;
}

.seeds img {
    transform: rotate(90deg);
    height: 14px;
}

.seeds:hover {
    opacity: .8;
    cursor: pointer;
}

.catalog__content {
    width: 1000px;
}

.catalog__content--items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.catalog__content--sort {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    margin-bottom: 80px;
}

.catalog__content--sort p {
    opacity: .5;
}

.catalog__content--sort select {
    background: transparent;
    border: 0px;
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 120px;
}

.next {
    width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #11111130;
    cursor: pointer;
}

.next img {
    transform: rotate(-90deg);
    width: 13px;
    opacity: .7;
}

.prev {
    width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #11111130;
    cursor: pointer;
}

.prev img {
    transform: rotate(90deg);
    width: 13px;
    opacity: .7;
}

.number {
    opacity: .5;
    cursor: pointer;
}

.number--active {
    opacity: 1;
    background: #4e4e4e23;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.stroke {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter--title {
    font-size: 20px;
    font-weight: 400;
}


.filter--hr {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: 1px;
    background: #11111130;
}

.stroke p {
    font-size: 16px;
    color: #00000086;
}

.mb20 {
    margin-bottom: 20px;
}

.stroke img {
    opacity: .7;
    transform: rotate(90deg);
}

.round {
    margin-top: 15px;
}

.larges{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 30px;
}

.large{
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8b8b8b23;
    border-radius: 5px;
    color: #00000088;
}